{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-between">
    <form action="/">
        <input type="submit" value="Choose another image" class="btn btn-outline-secondary">
    </form>
    <button onclick="handleSave(event)" class="btn btn-info">Save Words</button>
</div>
<br />

{% for word, val in words.items() %}
<div class="word-section">
    <p>{{ word }}</p>
    <p id="translation-{{ loop.index }}"></p>
    <button onclick="handleTranslate(event, '{{ loop.index }}', '{{ word }}')"
        class="btn btn-outline-info">Translate</button>
</div>
{% endfor %}
<br />

{% if image %}
<img src="data:image/jpeg;base64,{{image}}" style="width:700px">
{% endif %}

<div class="modal fade" id="wordsSavedModal" tabindex="-1" role="dialog" aria-labelledby="wordsSavedModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="wordsSavedModalLabel">New words saved!</h5>
            </div>
            <div class="modal-body">
                You can now review them in the Study tab.
            </div>
            <div class="modal-footer">
                <button type="button" onclick="handleFinishSave(event)" class="btn btn-info">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    async function handleTranslate(event, index, word) {
        const response = await fetch("/translate", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ word: word })
        });

        const data = await response.json();
        document.getElementById(`translation-${index}`).innerHTML = data.result;

        // Replace Translate button with Add button after translation
        const button = event.target;
        button.innerText = "Add";
        button.setAttribute("onclick", `handleAdd(event, '${index}', '${word}', '${data.result}')`);
    }

    async function handleAdd(event, index, word, translation) {
        const response = await fetch("/add", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ word: word, translation: translation })
        });

        // Disable Add button after adding
        const button = event.target;
        button.innerHTML = 'Added <i class="bi bi-check-circle-fill"></i>';
        button.disabled = true;
    }

    async function handleSave(event) {
        const response = await fetch("/save", {
            method: "GET"
        });

        var modal = document.getElementById('wordsSavedModal');
        modal.classList.toggle('show');
        modal.style.display = modal.classList.contains('show') ? 'block' : 'none';
    }

    async function handleFinishSave(event) {
        var modal = document.getElementById('wordsSavedModal');
        modal.classList.toggle('show');
        modal.style.display = modal.classList.contains('show') ? 'block' : 'none';

        window.location.href = '/'
    }
</script>
{% endblock content %}